body
{
	background: rgb(100,100,100); /*fondo*/
	/*color: hotpink; /*letra*/
	color: #FFFFFF;
	margin: 0 auto; 
	max-width: 1024px; /*ancho maximo*/ 
}
header
{
	background:yellowgreen;
	border: 1px solid black; /*alrededor*/
	border-radius: 5px; /*esquinas */
	color: white; /*letra*/
}
header h1
{
	text-shadow: 5px 5px  5px black;
	text-align: center;
	font-family: 'Pacifico', cursive;

}
header img
{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	width:100px;
}

header nav ul li
{
	/*border: 1px solid black;*/
	background: black;
	border-radius: 5px;
	box-shadow: -5px -5px white; /*sombra de caja	*/
	color:white;
	display: inline-block; /*rompe caja*/
	font-family: 'Muli', sans-serif;
	margin: 0px 30px;
	padding: 10px ;

}
header nav ul li:hover
{
	background:white;
	color: black;

}

/*Aquí van los id*/
#seccion1
{
	border: 1px solid red;
}
#seccion1 article
{
	border: 1px solid black;
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	vertical-align: top;
	width:47.8%;
}

#seccion2
{
	font-family: 'Quicksand', sans-serif;
}
#seccion3
{
	font-family: 'Dancing Script', cursive;
}
#seccion4
{
	font-family: 'Sigmar One', cursive;
}