body
{
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;
	text-align: center;
}
h1
{
	font-size: 4em;
	margin-top: 100px;
}
form input
{
	border:none;
	padding: 50px;
}
form table
{
	border-collapse: collapse;
	margin-left: 170px;
	margin-top: 120px;
}

.borde1
{
	border-right: 10px solid red;
}
#borde2
{
	border-bottom: 10px solid red;
}