body
{
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;
}

h1
{
	margin-left: 280px;
	font-size: 4em;
}

form
{
	border-collapse: collapse;
	margin-left: 200px;

}

#b11
{
	border-left: none;
	border-top: none;
}

#b12
{
	border-top: none;
}
#b13
{
	border-top: none;
	border-right: none;
}
#b21
{
	border-left: none;
}
#b23
{
	border-right: none;
}
#b31
{
	border-left: none;
	border-bottom: none;
}
#b32
{
	border-bottom: none;
}
#b33
{
	border-right: none;
	border-bottom: none;
}

.botones
{
	background: white;
	border:5px solid red;
	margin-left: -4px;
	margin-bottom: -4px;	
	padding: 100px;

}